<main>
    <div class="container auth">
        <h2>
            Login
        </h2>
        <form action="/register" method="POST" class="form">
            <div class="form-field">
                <label for="name" for="name">Nome:</label>
                <input type="text" name="name" placeholder="Digite o seu nome" id="name" required>
            </div>
            <div class="form-field">
                <label for="email" for="email">Email:</label>
                <input type="email" name="email" placeholder="Digite o seu email" id="email" required>
            </div>
            <div class="form-field">
                <label for="password" for="password">Email:</label>
                <input type="password" name="password" placeholder="Digite a sua senha" id="password" required>
            </div>
            <div class="form-field btn-field">
                <input type="submit" value="Login">
                <a href="/register" class="btn">Não tem conta? Crie uma!</a>
            </div>
        </form>
    </div>
</main>