<header>
    <div class="container">
        <a href="/tasks">
            <h2>
                Node Todo
            </h2>
        </a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/tasks">
                        Ver todas
                    </a>
                </li>
                <li>
                    <a href="/tasks/add">
                        Nova tarefa
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>