<h2>
    Adicionar um usuário
</h2>
<form action="/users/create" method="POST">
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário" id="name">
    </div>
    <div>
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation" placeholder="Digite a profissão do usuário" id="occupation">
    </div>
    <div>
        <label for="newsletter">Newsletter:</label>
        <input type="checkbox" name="newsletter" id="newsletter" checked>
    </div>
    <input type="submit" value="Cadastrar">
</form>