<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="/img/toughts_logo.png" alt="Toughts">
            Toughts
        </a>
        {{#if session.userid}}
            <nav>
                <ul>
                    <li>
                        <a href="/toughts">
                            Pensamentos
                        </a>
                    </li>
                    <li>
                        <a href="/toughts/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </nav>
        {{else}}
            <nav>
                <ul>
                    <li>
                        <a href="/">
                            Pensamentos
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            Entrar
                        </a>
                    </li>
                    <li>
                        <a href="/register">
                            Registrar
                        </a>
                    </li>
                </ul>
            </nav>
        {{/if}}
    </div>
</header>