*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

form{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 450px;
}
h2{
    padding: 20px 0;
    text-align: center;
}
h3{padding: 15px 0;}
form div{width: 100%;}
form label{
    display: block;
    padding: 10px 0;
}
form input{
    display: block;
    height: 30px;
    padding: 10px 5px;
    width: 100%;
}
form input[type="submit"]{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}

/* books */
.books{
    margin: 0 auto;
    width: 450px;
}

.book{
    border-bottom: 1px solid;
    padding: 20px 0;
}

div.container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}