<div>
    <h2>
        All Tasks
    </h2>
    <ul>
        {{#each tasks}}
            <li>
                <a href="/" class="title">
                    {{this.title}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>