<div class="container">
    <form action="/books/insertbook" method="POST">
        <h2>
            Cadastre o seu livro:
        </h2>
        <a href="/books">Ver livros</a>
        <div>
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="O título do seu livro" />
        </div>
        <div>
            <label for="pageqty">Número de páginas:</label>
            <input type="number" name="pageqty" placeholder="Número de páginas" />
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>