<div class="container auth">
    <h2>
        Register
    </h2>
    <form action="/register" method="POST" class="form">
        <div class="form-field">
            <label for="name" for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite o seu nome" id="name" required>
        </div>
        <div class="form-field">
            <label for="email" for="email">Email:</label>
            <input type="email" name="email" placeholder="Digite o seu email" id="email" required>
        </div>
        <div class="form-field">
            <label for="password" for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a sua senha" id="password" required>
        </div>
        <div class="form-field">
            <label for="confirmpassword" for="confirmpassword">Confirme sua senha:</label>
            <input type="password" name="confirmpassword" placeholder="Confirme sua senha" id="confirmpassword" required>
        </div>
        <div class="form-field btn-field">
            <input type="submit" value="Cadastrar">
            <a href="/login" class="btn">Já tem conta? Faça login!</a>
        </div>
    </form>
</div>